@import url(./reset.css);
@import url(./typography.css);
@import url(./header.css);
@import url(./banner.css);
@import url(./info.css);
@import url(./footer.css);

@import url(./login.css);
@import url(./signup.css);

:root {
  /* Primary color */
  --primary-100: #3692ff;
  --primary-200: #1967d6;
  --primary-300: #1251aa;

  /* Secondary color */
  --secondary-50: #f9fafb;
  --secondary-100: #f3f4f6;
  --secondary-200: #e5e7eb;
  --secondary-400: #9ca3af;
  --secondary-500: #6b7280;
  --secondary-600: #4b5563;
  --secondary-700: #374151;
  --secondary-800: #1f2937;
  --secondary-900: #111827;

  /* Error color */
  --error-500: #f74747;

  /* Disable color */
  --disable-400: var(--secondary-400);

  /* Font style */
  --font-primary: 'Pretendard Variable', sans-serif;
  --font-size-base: 16px;
}

body {
  min-width: 350px;
  overflow-x: hidden;
}

/* 정보 섹션 반응형(테블릿) */
@media (max-width: 1010px) {
  .info {
    margin: 24px;
    gap: 52px;
  }

  .info__container {
    height: 750px;
    gap: 52px;
  }

  .info__wrapper {
    width: 696px;
    height: 750px;
    flex-direction: column;
    gap: 24px;
  }

  .info__title br {
    display: none;
  }

  .info__image {
    width: 696px;
    height: 524px;
  }

  .info__content {
    align-self: flex-start;
    padding-left: 24px;
  }

  .info__wrapper--reverse .info__content {
    align-self: flex-end;
    padding-right: 24px;
  }
}

/* 정보 섹션 반응형(모바일) */
@media (max-width: 725px) {
  .info {
    margin: 52px 15px;
    gap: 40px;
  }

  .info__container {
    height: 440px;
    gap: 40px;
  }

  .info__wrapper {
    width: 344px;
    height: 440px;
    gap: 40px;
  }

  .info__content {
    gap: 8px;
  }

  .info__image {
    width: 344px;
    height: 259px;
  }

  .info .info__category {
    font-size: 16px;
  }
  .info .info__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
  }
  .info .info__description {
    font-size: 16px;
    line-height: 26px;
  }

  .info__content {
    padding-left: 10px;
  }

  .info__wrapper--reverse .info__content {
    padding-right: 10px;
  }
}

/* 헤더 반응형(모바일), 푸터 반응형(모바일) */
@media (max-width: 480px) {
  .header {
    padding: 9.5px 5%;
  }

  .header__logo img {
    width: 103px;
  }

  .footer {
    padding: 32px 16px;
  }

  .footer__container {
    display: grid;
    align-items: center;
    text-align: center;
    gap: 24px;
    grid-template-columns: 1fr / 1fr;
    grid-template-rows: auto auto;
  }

  .footer__nav {
    grid-column: 1;
    grid-row: 1;
  }

  .footer__sns {
    grid-column: 2;
    grid-row: 1;
  }

  .footer__copyright {
    grid-column: 1;
    grid-row: 2;
    text-align: left;
  }
}

/* 배너 섹션 반응형(테블릿), 헤더 반응형(테블릿) */
@media (max-width: 1135px) {
  .header {
    padding: 9.5px 10%;
  }

  .banner {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 771px;
  }

  .bottom_banner {
    height: 927px;
  }

  .banner__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 211px;
  }

  .banner__title br {
    display: none;
  }

  .banner__content {
    gap: 24px;
    padding-bottom: 0px;
    align-items: center;
  }

  .banner__image {
    width: 744px;
    height: 340px;
  }

  .bottom_banner .banner__container {
    text-align: center;
    gap: 217px;
  }

  .bottom_banner .banner__title br {
    display: inline;
  }

  .bottom_banner .banner__image {
    width: 744px;
    height: 397px;
  }
}

/* 배너 섹션 반응형(모바일) */
@media (max-width: 765px) {
  .banner {
    height: 540px;
    overflow: hidden;
  }

  .bottom_banner {
    height: 540px;
  }

  .banner__container {
    gap: 132px;
  }

  .banner__content {
    gap: 18px;
  }

  .banner__content .banner__title {
    font-size: 32px;
    line-height: 44.8px;
    text-align: center;
  }

  .banner__title br {
    display: inline;
  }

  .banner__content .banner__button {
    width: 240px;
    height: 48px;
    padding: 12px 71px;
    font-size: 18px;
    line-height: 26px;
  }

  .banner__image {
    width: 448px;
    height: 204px;
  }

  .bottom_banner .banner__title {
    font-size: 32px;
    line-height: 44.8px;
  }

  .bottom_banner .banner__container {
    gap: 131px;
  }

  .bottom_banner .banner__image {
    width: 375px;
    height: 198px;
  }
}

/* 푸터 반응형(테블릿) */
@media (max-width: 1300px) {
  .footer {
    padding: 32px 24px;
  }
}
