.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.info__container {
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__wrapper {
  width: 988px;
  height: 444px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 64px;
  background-color: #fcfcfc;
  border-radius: 12px;
}

.info__wrapper--reverse {
  flex-direction: row-reverse;
  text-align: right;
}

.info__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info__image {
  width: 579px;
  height: 444px;
}

.info .info__content .info__category {
  color: var(--primary-100);
  font-size: 18px;
}

.info__title {
  color: var(--secondary-700);
  letter-spacing: 0.02em;
  margin-bottom: 12px;
}

.info__description {
  color: var(--secondary-700);
}
